body{
    display: block;
    width: 100%;
    height: 100%;
}
section.test-1{
    display: flex;
    background-color: aqua;
    height: 120px;
    width: 1280px;
}


/* Add custom CSS styles below */ 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600&display=swap');
/* ===== Abaya Calculator ===== */

.form-section{
  width: 100%;
  margin-inline: auto;
  max-width: 35rem;
  padding:2rem 1.5rem 4rem;
}
[type=checkbox]:checked, [type=radio]:checked{
  border-color: #576354;
  background-color:#576354;
  color:#576354;
}
.form-container{
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--main-background);
  padding:1rem 1.5rem 1rem;
}
.form-section button{
  background-color: #576354;
  border-radius: 4rem;
}
.form-section input[type=number]{
  border-color:var(--color-primary-dark);
  border-radius: 4rem;
  padding-top: .4rem;
  padding-bottom: 0.4rem;
}

.form-section .info{
    text-align:center
}

body.ltr .s-block__title h2::before{
  right: -2rem;
  left: unset;
}
body.ltr .s-block__title h2::after{
  left: -2rem;
}
@media (max-width: 768px) {
  .form-section h3{
    font-size: 1.1rem;}
  .form-section .info{
    font-size:0.8rem
    }
}
/* ===== Abaya Calculator ===== */

[color-scheme="light"] 
{
--header-foreground: #576354;
--main-color:#576354;

}
.store-footer__bottom {
  background-color: #576354;
  color: #ffffff;
}

.store-footer__bottom p {
  color: #ffffff;
}


.s-block {
    padding-top: 0rem; 
    padding-bottom: 3.4rem;
}
.s-block__title {
  padding-top: 3rem; 
  padding-bottom: 0.8rem;
  color: #e4d8c8;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.s-block__title .right-side:where([dir=rtl],[dir=rtl] *) {
  padding-left: 0rem;
}

.s-block__title h2{
  width: auto;
  text-align: center;
  color: #576354;
  font-size: 1.4rem;
}

.s-block__title h2::after{
  content:'';
  background-image:url('https://i.ibb.co/2gYgSjc/1.png');
    background-repeat: no-repeat;
        background-size: contain;
      
height: 1.3rem;
  width: 3rem;
background-size: contain;
  position: absolute;
  margin: 2px;
}

.s-block__title h2::before {
content: '';
  background-image: url('https://i.ibb.co/d4qkTPZ/1.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 1.3rem;
  width: 3rem;
  background-size: contain;
  position: absolute;
  left: 100%;
margin: 2px;
}

#E_square_photos_sec_1 h2::before ,#E_square_photos_sec_1 h2::after
{
height: 0rem;
  width: 0rem;
}
.s-block__title p{
  width: auto; 
    font-size: 0.95rem;
  
  text-align: center;
  color: #000000;
}

@media (min-width: 768px) {
  .f_enhanced-square-photos .f_image-one-sixth {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 2rem;
      padding: 3rem;
  }
    .s-block__title p:where([dir=rtl],[dir=rtl] *) {
        padding-left: 0rem;  
  }
  .s-slider-block__title-left {
    margin-bottom: 1rem;
    bottom: -36rem;
    }
}

.f_enhanced-square-photos .f_image-one-sixth a {

        align-self: center;
justify-self: center;
  }
.f_enhanced-square-photos .f_image-entry {
  padding: 0.5rem;
}

.f_enhanced-square-photos .f_image-one-sixth .f_image-entry__title {
  font-size: 0.95rem;
}

.f_enhanced-square-photos .f_image-entry img {
  height: auto;
  width: auto;
}


button.s-button-primary {
  border-width: 0;
  background-color: #576354;
  padding: .75rem;
  color: #ffffff;
  border-radius: var(--small-curve);
}
.s-button-primary:hover {
  background-color: #6976659a;
}

.product-entry__title a {

  font-size: 1rem;
  
}


salla-slider .s-slider-block__display-all {
  color: #fdf2f7;
  /* color: var(--color-primary); */
}

.f_enhanced-store-features .f_features-item {
  
  background: none;
}
.f_enhanced-store-features .f_features-item .feature-icon {
  width: 5rem;
}


.testimonials-slider .swiper-slide-active .testimonial__inner {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonial__rating {

  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5rem;
}

[dir=rtl] .s-slider-block__title-right {
    padding-left: 0rem; 
}



[dir=rtl] .testimonials-slider .swiper-slide-active .testimonial__avatar {
  margin-left: 0;
  margin-top: -3.5rem;
}

.testimonials-slider .testimonial {
  border-radius: 0.8rem;
}

.f_enhanced-square-photos .f_image-one-sixth a {
  align-self: center;
  width: 30%;
  justify-self: center;
}
.f_enhanced-square-photos .f_image-one-sixth {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.7rem;
  display: flex;
  flex: 0 0 0;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials-slider .swiper {
  padding-top: 3rem;
}
salla-slider .s-slider-block__title h2 {
  width: auto;
    font-size: 1.2rem;
  margin-bottom: 1rem;
}
salla-slider .s-slider-block__title h2::after{
content:'';
background-image: url('https://i.ibb.co/2gYgSjc/1.png');
  background-repeat: no-repeat;
      background-size: contain;
        background-position: left;
    height: 1.3rem;
  width: 15rem;
position: absolute;
margin: 2px;
}
salla-slider .s-slider-block__title h2::before {
  content: '';
  background-image: url('https://i.ibb.co/d4qkTPZ/1.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 1.3rem;
  width: 15rem;
  background-size: contain;
  position: absolute;
margin: 2px;
}



salla-slider .s-slider-block__title h2 {

  text-align: center;
  display: flex;
  justify-content: center;
}

.s-slider-block__title h2:where([dir=rtl],[dir=rtl] *) {
  padding-left: 0rem; 
}





  

.center-between h2
{
    font-size: 0.825rem;
}







.s-slider-block__title-left {
    margin-top: 1rem;
    }
    
salla-slider .s-slider-block__display-all {
  color: #fdf2f7;
  /* color: var(--color-primary); */
  display: none;
}

[dir=rtl] .s-slider-block__title-right {
  width: 100%;
  padding-left: 0rem;
}

.s-slider-block__title-nav {
  display: none;
}

.store-footer__bottom span p {
  color: #ffffff;
}
.store-footer__bottom p {
  color: #ffffff;
}.s-login-modal-link {
  margin-top: 1.5rem;
  display: block;
  text-align: center;
  font-size: .875rem;
  line-height: 1.25rem;
  color : #576354;
  /* color: var(--color-primary); */
}